services:
  db:
    image: postgres:15-alpine
    container_name: subscription_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10

  migrate:
    image: migrate/migrate:v4.15.2
    depends_on:
      db:
        condition: service_healthy
    command: [
      "-path", "/migrations",
      "-database", "postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable",
      "up"
    ]
    volumes:
      - ./migrations:/migrations:ro
    restart: "no"

  app:
    build: .
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_started
    environment:
      HTTP_PORT: ${HTTP_PORT}
      DB_HOST: "db"
      DB_PORT: "5432"
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      LOG_LEVEL: ${LOG_LEVEL}
    ports:
      - "${HTTP_PORT}:${HTTP_PORT}"
volumes:
  postgres_data: